@model IEnumerable<StoreMoovie.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="customers"class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSubscribedToNewsletter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adhesion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubscribedToNewsletter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adhesion.AdhesionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

               <!-- Lien pour aller sur la page pour supprimer un utilisateur
                   <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> -->

                <button data-customer-id="@item.Id" class="btn-linkv js-delete">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{
<script>
    $(document).ready(function () {
        $("#customers").DataTable();
        $("#customers").on("click",".js-delete", function () {
            var button = $(this);
      
            if (confirm("êtes vous sur de vouloir supprimer l'utilisateur")) {
                $.ajax({
                    url: "/api/customers/" + $(this).attr("data-customer-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();
                    }
                })
            }
        });
    });
          //bootbox.alert("êtes vous sur de vouloir supprimer l'utilisateur", function (result) {
            //    if (result) {
            //        $.ajax({
            //            url: "/api/customers/" + $(this).attr("data-customer-id"),
            //            method: "DELETE",
            //            success: function () {
            //                button.parents("tr").remove();
            //            }
            //            });
            //            }
            //        });
            //    });
            //});
</script>
 }